.containerGraphic{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.titleGraphic{
    align-self: center;
    color: #2BD9B9;
    font-size: 36px;
    line-height: 43px;
    font-weight: 300;
}

.graphic{
    align-self: center;
    background-color: white;
    border-radius: 5px;
}

.linkGarphic{
    color: #03A6A6;
  
    

}